.rippleLight {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}
.rippleDark {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}
.rippleLightEnable{
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
.rippleDarkEnable{
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
.rippleEffect {
    animation: rippleDrop .4s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}