.networkSpeed{
    width:inherit;
    text-align:right;
}

.navWidth{
    width:100vw;
}

.navItemFont{

}

.modal{
    width:100vw;
}

body {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    width:100vw;
    overflow-x:hidden;
}

.alertHeader{
    padding:0.5rem 1rem;
}

.alertDialog{
    max-width:19rem;
    margin:5rem auto;
}

.folderIcon {
    color: #efe065;
}

.fileIcon {
    color: #4f4f4f;
}

.entryTable {
    table-layout:fixed;
}

.entryTable td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.entryTableFolderName {
    cursor: pointer;
}

.pathBreadCrumbFoldrName {
    cursor: pointer;
}

.tableFileName {

}

.fileInfo{
    text-align:center;
}