.networkSpeed{
    width:inherit;
    text-align:right;
}

.navWidth{
    width:100vw;
}

.navItemFont{

}

.modal{
    width:100vw;
}

body {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    width:100vw;
    overflow-x:hidden;
}

.alertHeader{
    padding:0.5rem 1rem;
}

.alertDialog{
    max-width:19rem;
    margin:3rem auto;
}

.folderIcon {
    color: #efe065;
}

.fileIcon {
    color: #4f4f4f;
}

.entryTable {
    table-layout:fixed;
}

.entryTable td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.entryTableFolderName {
    cursor: pointer;
}

.pathBreadCrumbFoldrName {
    cursor: pointer;
}

.tableFileName {

}

.fileInfo{
    text-align:center;
}

.bodyMask{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    width: 100vw;
    height: 100vh;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}